<template>
    <div class="container-fluid">
        <div class="row search-bar">
            <div class="col-xs-12">
                <input type="text" v-model="search" class="form-control" placeholder="type to search; try for example: mleczny">
            </div>
        </div>
        <div v-if="error" class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="alert alert-danger">
                    {{ error }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">Place Details</div>

                    <div class="panel-body">
                        <div v-if="currentPlace">
                            <div v-if="currentPlace.details" itemscope itemtype="http://schema.org/LocalBusiness">
                                <h3 itemprop="name">{{ currentPlace.details.name }}</h3>
                                <p>
                                    Rating: <span itemprop="aggregateRating">{{ currentPlace.details.rating }}</span><br>
                                    Address: <span itemprop="address">{{ currentPlace.details.formatted_address }}</span><br>
                                    Phone: <span itemprop="telephone">{{ currentPlace.details.international_phone_number }}</span><br>
                                </p>
                                <div>
                                Images:
                                    <template v-for="(image, index) in currentPhotos">
                                        <a :href="image.url" target="_blank">[{{ index + 1 }}] </a>
                                    </template>
                                    <span v-if="!currentPhotos">no images</span>
                                </div>
                            </div>
                            <div v-else>
                                loading place details...
                            </div>
                        </div>
                        <div v-else>
                            Select place on the map
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="panel panel-default">
                    <div class="panel-heading">Map<span v-if="loadingPlaces" class="loading-indicator"> - Loading places...</span></div>

                    <div class="panel-body">
                        <div>
                            <div class="clearfix">
                                <button @click="locateFollow" class="btn btn-default btn-xs" data-toggle="button" aria-pressed="false" autocomplete="off">Follow me</button>
                                <button v-if="!followingLocation" @click="locate" class="btn btn-default btn-xs">Locate me!</button>
                                <button @click="centerOnMainSquare" class="btn btn-default pull-right btn-xs">Main Square</button>
                            </div>
                            <div id="map"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                followingLocation: false,
                currentPlace: null,
                currentPhotos: null,
                loadingPlaces: false,
                error: false,
                search: null
            }
        },
        watch: {
            search: _.debounce(function() { this.performSearch() }, 700)
        },
        mounted() {
            // mainPlaceLocation - global js variable in app template
            let map = L.map('map').setView(mainPlaceLocation, 13);
            this.map = map;

            this.placesResource = this.$resource('api/v1/places{/id}');
            this.photosResource = this.$resource('api/v1/places{/id}/photos');

            this.markers = {};

            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
             	maxZoom: 19,
             	attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
            }).addTo(map);

            let myPointObserver = this.myLocationPoint(map);
            map.on('locationfound', myPointObserver)
            .on('locationerror', e => {
                this.error = "Location access denied.";
            });

            map.on('moveend', _.debounce(this.loadPlaces, 500));
            map.on('load', this.loadPlaces());
        },
        methods: {
            locate(event) {
                this.maplocation();
            },
            locateFollow(event) {
                this.followingLocation = !this.followingLocation;
                if (this.followingLocation) {
                    this.maplocation(true);
                } else {
                    this.map.stopLocate();
                }
            },
            maplocation(follow = false) {
                this.map.locate({
                    watch: follow,
                    setView: true,
                    maxZoom: 16,
                    enableHighAccuracy: true
                })
            },
            centerOnMainSquare() {
                this.map.setView(mainPlaceLocation, 13);
            },
            addMarkers(newPlaces) {
                newPlaces.forEach(place => {
                    if (place.place_id in this.markers) return;

                    let loc = place.geometry.location;
                    let marker = L.marker([loc.lat, loc.lng]);
                    marker.placeId = place.place_id;
                    marker.on('popupopen', event => { this.currentPlace = event.target });
                    marker.on('popupclose', event => { this.currentPlace = null });
                    marker.bindPopup(this.loadPlaceDetails);
                    marker.addTo(this.map);
                    this.markers[place.place_id] = marker;
                });
                this.loadingPlaces = false;
            },
            loadPlaceDetails(marker) {
                this.error = false;
                this.currentPhotos = null;
                this.placesResource.get({id: marker.placeId})
                    .then(response => {
                        response.json().then(json => {
                            marker.setPopupContent(json.result.name);
                            this.$set(marker, 'details', json.result);
                        });
                    }, response => {
                        // error callback
                        marker.closePopup();
                        this.error = response.status + ': ' + response.statusText;
                    });
                this.photosResource.get({id: marker.placeId})
                    .then(response => {
                        response.json().then(json => {
                            if (!_.isEmpty(json)) this.currentPhotos = json;
                        });
                    });
                return 'loading...';
            },
            loadPlaces() {
                let location = this.map.getCenter();
                let bounds = this.map.getBounds();
                let diameter = this.map.distance(bounds.getSouthWest(), bounds.getNorthEast());
                let radius = diameter / 2;

                this.loadingPlaces = true;
                this.error = false;
                let params = {location: location.lat + ',' + location.lng, radius: Math.round(radius)};
                if (this.search) params.keyword = this.search;
                this.placesResource.get(params).then(response => {
                    // success callback
                    response.json().then(json => {
                        this.addMarkers(json.results);
                    });
                }, response => {
                    // error callback
                    this.loadingPlaces = false;
                    this.error = response.status + ': ' + response.statusText;
                    console.log(response);
                });
            },
            performSearch(val) {
                this.removeAllMarkers();
                this.loadPlaces();
            },
            removeAllMarkers() {
                _.each(this.markers, marker => { this.map.removeLayer(marker); });
                this.markers = {};
            },
            myLocationPoint(map) {
                let marker;
                let circle;
                return function(e) {
                    if (marker) map.removeLayer(marker);
                    if (circle) map.removeLayer(circle);
                    marker = L.circleMarker([e.latitude, e.longitude]).bindPopup('Your are here!').addTo(map);
                    circle = L.circle([e.latitude, e.longitude], e.accuracy/2, {
                        weight: 1,
                        color: 'blue',
                        opacity: 0.1,
                        fillColor: 'blue',
                        fillOpacity: 0.1
                    }).addTo(map);
                };
            }
        }
    }
</script>

<style scoped>
#map {
    height: 500px;
}
.btn {
    margin-bottom: 10px;
}
.loading-indicator {
    color: gray;
}
h3 {
    margin-top: 5px;
}
.search-bar {
    margin-bottom: 1em;
}
</style>